.search-link{
  color: white;
}
.search-location-home-page-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.location-image{
  width: 40%;
  padding-left: 8%;
}
.name-search-home-page{
  width: 20%;
}