.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-right: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: 30px;
    font-size: 15px;
}
.content .name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}
.content .name .rate{
  padding-right: 20px;
}
.content .name span{
    font-size: 15px;
    font-weight: bold;
}
.services{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    font-size: 15px;
}
.services .service{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    min-width: 50px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 15px;
}
.contact .social{
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 10px;
}
.contact .social a{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.contact p{
    font-size: 15px;
}
.content .social{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    min-width: 280px;
    min-height: 150px;
}
.footer span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border: #388DED solid 1px;
    min-height: 50px;
   min-width: 125px;

}