DEV_DB_URL=postgres://db_owner:password@localhost:port_number/DATABASE_NAME
TEST_DB_URL=postgres://db_owner:password@localhost:port_number/DATABASE_NAME
DATABASE_URL=postgres://db_owner:password@localhost:port_number/DATABASE_NAME
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=