.filter-container{
  width: 40%;
  height: 100vh;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.308);
  background-color: white;
  border: 0.5px solid #E6E6E6;
  padding: 2%;
}
.filter-inputs{
  width: 80%;
}
.filter-main-text{
  margin-top: 10px;
}
.filter-input-text{
  padding: 2% 0px;
  font-weight: 500;
  display: block;
}
.filter-options{
  padding-right: 6%;
}