.error-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.not-found-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainBox{
  width: 30%;
  margin-bottom: 2%;
}
.mainBox img{
  width: 100%;
}
.not-found-description{
  margin-bottom: 2%;
}
.err {
  color: #1890ff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
}
.msg {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Tajawal', sans-serif;
  color: rgba(74, 74, 74, 0.852);
}

.a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  background-color: #1890ff;
  padding: 15px;
  border-radius: 5px;
  margin-top: 22px;
}

/* a:hover {
  /* text-decoration: underline; */
  /* color: white; */
  /* background-color: #1273cf; 
} */
