.sign-up-container{
    margin-top: 2% !important;
}
.sign-up-steps{
    margin-bottom: 1%;
}
.sign-up-steps .ant-steps-item:last-child{
    flex: auto;
}

.personal-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.personal-form .name-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sing-up-buttons{
    display: flex;
}
.ant-form{
    width: 380px;
}
.next-btn{
display: flex;
justify-content: center;
align-items: center;
}
.ant-form-item-label > label {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: #000;
}
