.main-services-card{
  width: 17% !important;
  width: 20px;
  background-color: #F5F5F5;
  text-align: center;
  padding: 1% 0px 0px 0px!important;
  margin: 10px;
}
.main-services-card:hover{
  cursor: pointer;
}

.main-services-card-container{
  display: flex;
  justify-content: center;
  border: none !important;
}
.main-services-card-container .ant-card-body{
  padding: 0px;
}
.main-services-crd-image{
  width: 50%;
}
.main-services-crd-text{
  padding-top: 4%;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.ant-card-contain-grid:not(.ant-card-loading) .ant-card-body{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .headline-text{
    font-size: 20px;
  }
  .main-services-crd-text{
    font-size: 14px;
  }
  .main-services-card{
    width: 41% !important;
    width: 40px;
    margin: 10px;
  }
}