.reviewsSection{
  width: 100%;
  height: 40%;
  padding-bottom: 40px;
  margin: 2% 0;
}
.carouselContainer{
  background-color:#F4F4F4;
  width: 80%;
  height: 250px;
  margin: auto;
  padding-right: 4px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.reviewSlider{
  background-color:#F4F4F4;
  width: 90%;
  height: 250px;
  margin: auto;
}
.ReviewCard{
  height: 150px;
  width: 80%;
  background-color:#FFFFFF;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .carouselContainer{
    width: 100%;
  }
}
