.search-user-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.search-user-card-body{
    width: 70%;
    padding: 0 4%;
}
.search-user-card-image{
    width: 30%;
    padding: 4%;
}
.search-user-name{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.div-80-2{
    display: flex;
    width: 80%;
    justify-content: space-between; 
}
.search-results-container{
    width: 100%;
    display: flex;
    align-items:flex-start;
    padding: 0 30px;
    justify-content: space-between;
}
.user-cards-container{
    width: 100%;
}
.user-cards-container .ant-card-body{
    padding: 0 5% 7% 5%;
}

.pagination{
    width : 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
}

.page-header{
    font-size: 1.8rem;
    padding: 3px 30px;
}
.result-counter{
    padding: 0 5% 2% 5%;
}