.headline-text{
  font-size: 25px;
  font-weight: 600;
}
.inner-text{
  font-size: 18px;
  font-weight: 400;
  width: 80%;
}
.join-container{
  background-color: #F5F5F5;
  display: flex;
  padding: 6% 2%;
  margin-bottom: 3%;
}
.join-us-image{
  width: 30%
}