.headline-text{
  font-size: 25px;
  font-weight: 600;
}
.inner-text{
  font-size: 18px;
  font-weight: 400;
  width: 90%;
}
.join-container{
  background-color: #F5F5F5;
}
.join-inner-container{
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 3% 0;
}
.join-us-image{
  width: 30%
}
.join-right-section{
  text-align: center;
}