.personal-form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}
.personal-form .name-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ant-form{
    width: 350px;
}
.next-btn{
display: flex;
justify-content: center;
align-items: center;
}

