.login-form{
  /* background-color: red; */
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 5% 0 5%;
}
.login-container{
  width: 100%;
  height: 89vh;
  display: flex;
  /* background-color: black; */
}
.img-container{
  width: 48%;
}
img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.signup-text{
  color: blue;
}
.login-form-body{
  width: 100%;
  padding-right: 25%;
}