/* html {
    scroll-behavior: smooth;
  }
  .nav-container .ant-menu-overflow {
      background-color: white;
    /* box-shadow: 0px 0px 2px 0 #ff0000; */
  /* } */
  /* .nav-container .ant-menu-overflow  {
    width: 700px;
    margin-right: 30px;
    justify-content: end;
  }
  .nav-container .ant-menu-title-content a {
    color: rgb(255, 0, 0) !important; 
  }
  .nav-container .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:nth-child(5) , 
  .nav-container .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:nth-child(6) {
    background-color: rgb(255, 0, 0) !important;
  } */
  /* .nav-container .logo {
    color: #00ff51;
    font-weight: bold;
  }
  .nav-container .ant-layout-header {
    display: flex;
    justify-content: space-between;
  } */
